@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
		
body {
  background-image: url("../imgs/backgroundimage.jpg");
  background-size: cover;
  background-repeat: no-repeat, repeat;
  background-color: #202020;
  font-weight: bold;
  color: #00456A;

}

* {box-sizing: border-box}

.containerLogin {
	display:table; 
	height:100%; 
	wdith: 100px;
	margin: 0 auto;
}

.login {
	margin-top: 150px;
	vertical-align:middle;
}

.loginImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input, .btn {
  width: 100%;
  padding: 8px;
  border: 1px solid #DFDEDE;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none; 
}

input:hover, .btn:hover {
  opacity: 1;
  border: 1px solid #1F99FF;
}

input[type=submit] {
  background-color: #066BA1;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #086495;
}

.col {
  width: 80%;
  margin: auto;
}

h1.loginTitle{
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	text-align: center;
	color: 00456A;
	
}

h1.signInTitle{
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	font-weight: lighter;
	text-align: center;
	color: 00456A;
	
}







